
.burger_banner {
  height: 55vh;
  background-image: url("Burger.jpg");
  background-position: center;
  background-size: cover;

}

.homebar {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logotitle {
  display: flex;
  position: relative;
  margin-top: 8px;
  margin-left: 8px;
  h2 {
    font-size: 8vw;
  }
}

.title {
  color: white;
  position: absolute;
  left: 17vw;
  top: 15px;
  text-decoration: underline;
}

.menu {
  padding-left: 4px;
}

.dropdown {
  position: absolute;
  right: 9vw;
  top: 18px;
}

.dropdown-menu {
  max-width: 100px;
  transform: translate3d(-42px, 38px, 0px);
}
.dropdown-item {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

// <!-------second-part-of-splash---------->


.latersplash {
  height: 45vh;
  width: 100%;
  background-image: url("new_home_bg.png");
  background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  position: relative;
}

.direct_message {
  width: 30vw;
  height: 10vh;
  position: absolute;
  bottom: 3vh;
  right: 10px;
  p {
    font-size: 3.5vw;
  }
}

.postbox {
  width: 60vw;
  height: 15vh;
  background-color: white;
  position: absolute;
  left: 10vw;
  top: 3vh;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 7px;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.3)

}

.postbutton {
  font-size: 3.5vw;
  width: 100%;
  height: 25px;
  text-align: center;
  border-radius: 7px;
  background-color: #61ED38;
  color: white;
  &:hover {
    background-color: #61ED
  }
}

.optional {
  font-size: 3vw;
  text-align: center;
  margin-bottom: 5px;

}

.form-control {
  text-align: left;
  border-radius: 7px;
  box-shadow: inset 2px 2px 2px 2px rgba(0,0,0,0.2)
}


// #8bec5b

















