.carousel-inner {
  height: 40vh;
  width: 100%;
}

.show_pg_photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.second_part_show{
  background-color: white;
}

.show_firstrow {
  padding-top: 16px;
}

.show_secondrow {
  margin-top: 10px;
}

.about_title {
  color: #5c2976;
}

.show_fourthrow {
  margin-top: 10px;
}

.show_title {
  text-decoration: underline;
}
