.carousel-inner {
  height: 34vh;
  width: 100%;
}

.show_pg_photo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.second_part_show{
  background-color: white;
}

.show_firstrow {
  padding-top: 16px;
}

.show_secondrow {
  margin-top: 10px;
}

.about_title {
  color: #5c2976;
}

.show_fourthrow {
  margin-top: 10px;
}

.show_title {
  text-decoration: underline;
}

.bg_space {
  background-color: white;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.meal-title {
  margin-top:16px;
}

.price-align {
  p {
    margin-top:0px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  min-height: 55px;
  width: 100%;
  background-color: white;
  border-top: solid 1px rgba(0,0,0,0.2);
  z-index: 999;
  button {
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 3px #a82de7;
    outline: none;
    &:focus {

    }
  }
  i {
    font-size:20px;
    color: #61ED38;
  }
}

.buttone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin-bottom:0px;
  }
}

.collapse {
  flex-grow: auto;
}

.card-body {
  min-width: 90vw;
}



















