
.logobar {
  display: flex;
  position: relative;
}

.navtitle {
  position: absolute;
  left: 15vw;
  top: 11px;
  font-size: 6vw;
}

.navbar-toggler {
  border-radius: 7px;
  padding: 7px 11px;
}

.nav-item {
  border-top: solid 1px rgba(0,0,0,0.1)
}

.pin_icon {
  width: 6vw;
}

.user_location {
  min-width: 60vw;
}

.flexy {
  display: flex;
  padding-top: 10px;
}

.change_location {
  color: #5C2976;
  text-decoration: none;
  &:hover {
    color: #BB5BEC;
    text-decoration: none;
  }
}



.rest-search {
  position: relative;
  width: 55vw;
  padding: 4px;
  border-radius: 7px 0px 0px 7px;
  border: solid 1px rgba(0,0,0,0.2);
  &:hover {
    outline:none;
  }
}

.sherlock-search {
  background-color: white;
  border: solid 1px rgba(0,0,0,0.2);
  border-left: none;
  padding: 4px 7px 4px 7px;
  border-radius: 0px 7px 7px 0px;
  &:hover {
    background-color: rgba(0,0,0,0.2);
    outline: none;
  }
}

.flex {
  display: flex;
}

.display-flex {
  margin-left: 1vw;
  display: flex;
  justify-content: space-between;
}

.cardsdis {
  display: flex;
}

.selectcard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border: solid 1px rgba(0,0,0,0.2);
  border-radius: 7px;
  margin-right: 10vw;
  margin-top: 16px;
  margin-bottom: 16px;
  box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.1);
}

#vegan-select-card {
  background-image: asset-url('Vegancat-pic.jpg');
  background-position: center;
  background-size: cover;
}



























