
<div class="burger_banner">
  <div class="homebar">
    <div class="logotitle">
      <svg width="17vw" height="9vh" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="35" cy="35" r="35" fill="#BB5BEC"/>
      <path d="M50.3974 43.9526C52.9735 51.282 46.5023 70 35.1018 70C23.7012 70 19.04 52.1494 19.04 43.9526C19.04 35.7558 33.6793 13.44 42.3462 13.44C40.2274 23.1147 47.8213 36.6233 50.3974 43.9526Z" fill="#FEFFFE"/>
      <path d="M50.3974 43.9526C52.9735 51.282 46.5023 70 35.1018 70C23.7012 70 19.04 52.1494 19.04 43.9526C19.04 35.7558 33.6793 13.44 42.3462 13.44C40.2274 23.1147 47.8213 36.6233 50.3974 43.9526Z" fill="#FEFFFE"/>
      <path d="M47.1558 44.6342C49.1896 50.9839 44.0808 67.2 35.0803 67.2C26.0799 67.2 22.4 51.7354 22.4 44.6342C22.4 37.533 33.9573 18.2 40.7996 18.2C39.1269 26.5816 45.1221 38.2845 47.1558 44.6342Z" fill="#61ED38"/>
      <path d="M47.1558 44.6342C49.1896 50.9839 44.0808 67.2 35.0803 67.2C26.0799 67.2 22.4 51.7354 22.4 44.6342C22.4 37.533 33.9573 18.2 40.7996 18.2C39.1269 26.5816 45.1221 38.2845 47.1558 44.6342Z" fill="#61ED38"/>
      </svg>
      <h2 class="title">VeggieRun</h2>
    </div>

    <div class="dropdown">
      <button class="btn btn-light" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div style="display:flex;justify-content:space-between;">
          <div>
            <svg width="18" height="15" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-bottom:5px;">
            <line y1="5" x2="18" y2="5" stroke="black" stroke-width="2"/>
            <line y1="10" x2="18" y2="10" stroke="black" stroke-width="2"/>
            <line y1="15" x2="18" y2="15" stroke="black" stroke-width="2"/>
            <!-- <line y1="-1" x2="18" y2="12" transform="matrix(1 0 0 -1 0 13)" stroke="black" stroke-width="2"/> -->
            </svg>
          </div>
          <div class="menu">
            Menu
          </div>
        </div>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" type="button">Action</button>
        <button class="dropdown-item" type="button">Another action</button>
        <button class="dropdown-item" type="button">Something else here</button>
      </div>
    </div>
  </div>
</div>

<div class="latersplash">

  <div class="postbox">
    <%= simple_form_for @vrestaurants, :url => vrestaurants_path, :method => :get do |f| %>
      <%= f.input :address, label: "Enter your Postcode", placeholder: "SW19 7PR" %>
      <%= f.submit "Search Restaurants", class: "postbutton" %>
    <% end %>
  </div>

  <div class="direct_message">
    <p>For Every Order We Take, We Plant A Tree!</p>
  </div>

</div>


